@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.numbers {
  color: black;
  line-height: 1;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 2rem;
  font-size: 2rem;
}

.number-span {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.5s ease;
  transform: translateY(0);
  line-height: 1;
}

.number-span-nested {
  flex: 0 0 100%;
  height: 100%;
}